[submodule "vendors/googletest"]
	path = vendors/googletest
	url = https://github.com/google/googletest.git
[submodule "vendors/glfw"]
	path = vendors/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendors/glew"]
	path = vendors/glew
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "vendors/imgui"]
	path = vendors/imgui
	url = git@github.com:threezinedine/imgui.git
	branch = docking